<div class='px-2 flex flex-row items-center space-x-1 my-1' id="<%= dom_id(message) %>">
  <div class="py-1 px-2 text-sm rounded-2xl text-white bg-gray-500">
    <%= message.body %>
  </div>
  <div class='w-10 flex-none'></div>
</div>