<%= turbo_stream_from [:chat_rooms, current_user.id] %>

<div class='w-screen h-screen'>
  <div class='flex flex-row items-stretch h-full divide-x divide-gray-200'>
    <div class='flex-none w-1/4 h-full'>
      <%= render 'form', new_chat_room: @new_chat_room, user: current_user %>
      <%= turbo_frame_tag :room_list do %>
        <%= render @chat_rooms, user: current_user %>
      <% end %>
    </div>
    <div class='flex-auto'></div>
  </div>
</div>