<header class='w-screen h-14 bg-white'>
  <div class='w-5/6 mx-auto h-full flex flex-row justify-between items-stretch'>
    <div class='font-bold flex-none self-center text-lg'>
      RUKU
    </div>
    <div class='flex-auto'>

    </div>
    <div class='flex-none flex flex-row items-stretch justify-end space-x-10'>
      <div class='h-full'>
        <%= link_to "Public", 'javascript:;', class: 'text-sm grid place-items-center text-blue-500 font-bold box-border h-full' %>
      </div>
      <div class='h-full'>
        <%= link_to "Privite", 'javascript:;', class: 'text-sm grid place-items-center text-gray-700 box-border h-full' %>
      </div>
      <div class='h-full'>
        <%= link_to "History", 'javascript:;', class: 'text-sm grid place-items-center text-gray-700 box-border h-full' %>
      </div>
      <div class='p-2 border border-gray-700 rounded-full w-8 h-8 grid place-items-center cursor-pointer self-center'>
        <i class="fas fa-user"></i>
      </div>
    </div>
  </div>
</header>