<%= turbo_stream_from :rooms %>

<div class="w-5/6 mx-auto">
  <%= render 'form', room: @room %>
  <div class='text-lg my-3'>Rooms</div>
  <div class=''>
    <%= turbo_frame_tag :rooms_list do %>
      <%= render @rooms %>
    <% end %>
  </div>
</div>