<div class='flex flex-row justify-between items-center p-2 border border-white hover:border-gray-700 w-full'>
  <div class=''>
    <%= product.name %>
  </div>
  <div>
    <%= product.status %>
  </div>
</div>